body {
  padding: 0;
  margin: 0;

  width: 100vw;
  height: 100vh;

  font-family: 'Roboto';
  
  color: white;

  display: grid;
  place-items: center;
}

* {
  box-sizing: border-box;
}

*::selection {
  background-color: rgba(255, 166, 0, 0.253);
  color: orange;
}
